a:link{
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
  color: white;
  }

.menu {
    text-align: center;
    background-color: black;
    font-family: 'Buttershine Serif', sans-serif;
    color: white;
    border-style: none;
    font-size: 20;
}

.logo {
    text-align: left;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 20;
    border: none;
    font-family: 'Buttershine Serif', sans-serif;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4dddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Buttershine Serif', sans-serif;
  }

  .dropdown-content a {
    color: rgb(167, 63, 63);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #8d6767;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: black;}



  .bar {

    border: none;
    font-family: 'Unitblock', sans-serif;
    font-size: 20;
    background-color: transparent;
    color: white;
}

div.ex1 {
    width: 100% !important;
    margin: -15px 0%  0px 0% !important;
    padding: -70px 0px 0px 100px !important;
    background-color: rgb(0, 0, 0);
    padding: right 10px;
}

.haiku1{
    margin-right: 15px;
}

.villa1{
    margin-left: 15px;
}

h1 {
    font-family: 'Buttershine Serif', sans-serif;
    color: #000000;
    font-size: 50;
    margin: 5%;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.6);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.name {
  font-family: 'Grow West', sans-serif;
  color: rgb(255, 255, 255); 
  font-size: 65;  
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);               
}

.title-haiku{
  margin-top: -150;
  margin-left: 3;
}

.title-cetinale{
margin-top: -150;
}

.title-villa{
margin-top: -150;
margin-left: 20;
}


.text {
  color: rgb(0, 0, 0);
  font-family: 'Quilezy', sans-serif;
  font-size: 50;   
  padding: 0px 10px;                                                                                         
}

.desc1 {
  font-family: 'Grenda', sans-serif;
                                                
  margin-right: 15;
  margin-left: 0;
  margin-top: -50;
  text-align: justify; 
  line-height: 1.4;
  padding: 0px 10px;
}

.desc2 {
  font-family: 'Grenda', sans-serif;
                                                
  margin-right: 10;
  margin-left: 10;
  margin-top: -50;
  text-align: justify; 
  line-height: 1.4;
  padding: 0px 10px;
}

.desc3 {
  font-family: 'Grenda', sans-serif;
                                                
  margin-right: 0;
  margin-left: 15;
  margin-top: -50;
  text-align: justify; 
  line-height: 1.4;
  padding: 0px 10px;
}

.view-button{
  align-content: center;
  border-radius: 10px;
  background-color: #9c2327;
  border: none;
  color:white;
  padding: 10px 15px;
  text-align:center;
  text-decoration: none;
  opacity: 0,6;
  transition: 0,3s;
  cursor: pointer;
  font-size:14px;
  margin-right: 10;
  float: right;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Grenda', sans-serif;

}

.view-button:hover {
  background-color: #79161a ;
}


#haiku-vid {
 background-image: url("images/haiku-mill1.mp4");
  height: 88.42%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -5;
  
}

#villa-balbiano-vid{
  background-image: url("images/villa-balbiano.mp4");
   height: 112.5%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: -5;
   
 }

 #villa-cetinale-vid {
  background-image: url("images/Villa-Cetinale.mp4");
   height: 112%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: -5;
   
 }
 

.haiku-main {
  font-family: 'Grenda', sans-serif;
}

.haiku-para {
  font-size: 22;
  font-family: 'Quilezy', sans-serif;
}

.haiku-table {
  margin-top: 70;
}

.mySlides {
  display:none;
  margin-top: 0px;
  margin-bottom: 0;
}

.templer-desc {
  font-family: 'Grenda', sans-serif;
  font-size: 20;
}

.haiku-words {
  font-family: 'Grenda', sans-serif;
}

.haiku-main1 {
  font-family: 'Grenda', sans-serif;
}

.haiku-para1 {
  font-family: 'Grenda', sans-serif;
  text-align: center;
}







* {
  font-family: Open Sans;
}

.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  margin-top: 20%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  text-align: justify;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  none;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}